<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="Meniu" value="C:\Users\Miriam\source\repos\Good_Food\Good_Food\meniu.txt"/>
		<add key ="MeniuExcel" value="C:\Users\Miriam\source\repos\Good_Food\Good_Food\Meniu.xlsx" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\source\repos\Good_Food\Good_Food\GOOD_FOOD.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>